{% extends 'base/base.html' %}
{% load crispy_forms_filters %}

{% block navbar %}
    {% include 'base/navbar.html' %}
{% endblock %}

{% block panel_izquierdo %}
    {% include 'base/panel_izquierdo.html' %}
{% endblock %}

{% block contenido %}
    <div class="content-wrapper" >

   <div class="container " >
       <h1 style="color: darkgoldenrod; text-align: center">Agregar Usuario</h1>
        <!--<div class="abs-center" >-->

         <form method="post" enctype="multipart/form-data" action="{% url 'agregar_usuario' %}">
             {% csrf_token %}
             {{ form | crispy }}
             <button class="btn btn-success btn-block" style="color: white" type="submit">Guardar</button>
         </form>
        <!--</div>-->
    </div>


  </div>
{% endblock %}

{% block footer %}
    {% include 'base/footer.html' %}
{% endblock %}