{% extends 'base/base.html' %}

{% block navbar %}
    {% include 'base/navbar.html' %}
{% endblock %}

{% block panel_izquierdo %}
    {% include 'base/panel_izquierdo.html' %}
{% endblock %}

{% block contenido %}

        <div class="content-wrapper">
       <h1 style="color: darkgoldenrod; text-align: center">Lista de usuarios</h1>


    <div class="border mt-2">
                                    <div class="card">
                                        <div class="table-stats order-table ov-h">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Nombres</th>
                                                        <th>Apellidos</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for a in object_list %}
                                                        <tr>
                                                            <td>{{ a.nombres }}</td>
                                                            <td> {{a.apellidos }}</td>
                                                            <td>
                                                                <p>
                                                                    <a onclick="abrir_modal_creacion('{% url 'modificar_usuario' a.id %}')" class="btn btn-primary btn-block" style="color: white">Editar</a>
                                                                    <a onclick="abrir_modal_eliminar('{% url 'eliminar_usuario' a.id %}')" class="btn btn-danger btn-block" style="color: white">Eliminar</a>
                                                                </p>
                                                            </td>
                                                        </tr>

                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
<section>
                    <div class="container">
                           {# info adicional #}
                    </div>
                    <div class="modal fade" id="crear" role="dialog">

                    </div>
                    <div class="modal fade" id="eliminar" role="dialog">

                    </div>
                </section>
    </div>



      <script type="text/javascript">
        //var $=jQuery.noConflict();

        function abrir_modal_creacion(url){
            $("#crear").load(url,function (){
                $(this).modal('show');
            })
        }

        function abrir_modal_eliminar(url){
            $("#eliminar").load(url,function (){
                $(this).modal('show');
            })
        }

    </script>
{% endblock %}

{% block footer %}
    {% include 'base/footer.html' %}
{% endblock %}