{% extends 'base/base.html' %}
{% load bootstrap %}

{% block navbar %}
    {% include 'base/navbar.html' %}
{% endblock %}

{% block panel_izquierdo %}
    {% include 'base/panel_izquierdo.html' %}
{% endblock %}


{% block contenido %}

        <div class="content-wrapper">
       <h1 style="color: darkgoldenrod; text-align: center">Lista de usuarios</h1>

<form method="GET" style="margin-left: 10px; ">
     <div class="input-group" >
            {{ filter.form|bootstrap }}
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" style="height: 37px; margin-top: 32px">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
</form>

    <div class="border mt-2">

                                    <div class="card">
                                        <div class="table-stats order-table ov-h">
                                            <table class="table table-bordered" style="border:2px solid black">
                                                <thead style="background-color: darkgoldenrod; border-bottom: 3px solid black;">
                                                    <tr>
                                                        <th>Nombres</th>
                                                        <th>Apellidos</th>
                                                        <th>E-mail</th>
                                                        <th>Usuario</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody style="border-top: 1px solid black;">
                                                    {% for a in filter.qs %}
                                                        <tr>
                                                            <td>{{ a.nombres }}</td>
                                                            <td> {{a.apellidos }}</td>
                                                            <td> {{a.email }}</td>
                                                            <td> {{a.username }}</td>
                                                            <td>
                                                                <p>
                                                                    <a onclick="abrir_modal_creacion('{% url 'modificar_usuario' a.id %}')" class="btn btn-primary btn-block" style="color: white">Editar</a>
                                                                    <a onclick="abrir_modal_eliminar('{% url 'eliminar_usuario' a.id %}')" class="btn btn-danger btn-block" style="color: white">Eliminar</a>
                                                                </p>
                                                            </td>
                                                        </tr>

                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
<section>
                    <div class="container">
                           {# info adicional #}
                    </div>
                    <div class="modal fade" id="crear" role="dialog">

                    </div>
                    <div class="modal fade" id="eliminar" role="dialog">

                    </div>
                </section>
    </div>



      <script type="text/javascript">
        //var $=jQuery.noConflict();

        function abrir_modal_creacion(url){
            $("#crear").load(url,function (){
                $(this).modal('show');
            })
        }

        function abrir_modal_eliminar(url){
            $("#eliminar").load(url,function (){
                $(this).modal('show');
            })
        }

    </script>
{% endblock %}

{% block footer %}
    {% include 'base/footer.html' %}
{% endblock %}