
{% extends 'base/base.html' %}

{% block navbar %}
    {% include 'base/navbar.html' %}
{% endblock %}

{% block panel_izquierdo %}
    {% include 'base/panel_izquierdo.html' %}
{% endblock %}

{% block contenido %}
    <div class="content-wrapper">
       <h1 style="color: darkgoldenrod; text-align: center">Lista de especies</h1>


    <div class="border mt-2">
                                    <div class="card">
                                        <div class="table-stats order-table ov-h">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Nombre</th>
                                                        <th>Nombre Cientifico</th>
                                                        <th>Autor</th>
                                                        <th>Origen</th>
                                                        <th>Imagen</th>
                                                        <th>Imagen2</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for a in object_list %}
                                                        <tr>
                                                            <td>{{ a.Nombre }}</td>
                                                            <td> {{a.Nombre_Cientifico }}</td>
                                                            <td> {{a.Autor }}</td>
                                                            <td> {{a.Origen }}</td>

                                                            <td>
                                                                {% if  a.Imagen_Perfil %}
                                                                <img src="{{a.Imagen_Perfil.url}}" width="80" height="80">
                                                                {% endif %}

                                                            </td>
                                                        <td>
                                                                {% if  a.Imagen1 %}
                                                                <img src="{{a.Imagen1.url}}" width="80" height="80">
                                                                {% endif %}

                                                            </td>
                                                            <td>
                                                                <p>
                                                                    <a onclick="abrir_modal_creacion('{% url 'modificar_especie' a.id %}')" class="btn btn-primary btn-block" style="color: white">Editar</a>
                                                                    <a onclick="abrir_modal_eliminar('{% url 'eliminar_especie' a.id %}')" class="btn btn-danger btn-block" style="color: white">Eliminar</a>
                                                                </p>
                                                            </td>
                                                        </tr>

                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
<section>
                    <div class="container">
                           {# info adicional #}
                    </div>
                    <div class="modal fade" id="crear" role="dialog">

                    </div>
                    <div class="modal fade" id="eliminar" role="dialog">

                    </div>
                </section>
    </div>



      <script type="text/javascript">
        //var $=jQuery.noConflict();

        function abrir_modal_creacion(url){
            $("#crear").load(url,function (){
                $(this).modal('show');
            })
        }

        function abrir_modal_eliminar(url){
            $("#eliminar").load(url,function (){
                $(this).modal('show');
            })
        }

    </script>

{% endblock %}

{% block footer %}
    {% include 'base/footer.html' %}
{% endblock %}