{% extends 'base/base.html' %}


{% block navbar %}
    {% include 'base/navbar.html' %}
{% endblock %}

{% block panel_izquierdo %}
    {% include 'base/panel_izquierdo.html' %}
{% endblock %}

{% block contenido %}
    <div class="content-wrapper">
<h1 style="color: darkgoldenrod; text-align: center; margin-top: 25px; margin-bottom: 15px;">Lista de origenes de especies</h1>


    <div class="border mt-2">
                                    <div class="card">
                                        <div class="table-stats order-table ov-h">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Nombre</th>
                                                        <th>País</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for a in object_list %}
                                                        <tr>
                                                            <td>{{ a.Nombre }}</td>
                                                            <td> {{a.Pais }}</td>

                                                        </tr>

                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>

    </div>



{% endblock %}

{% block footer %}
    {% include 'base/footer.html' %}
{% endblock %}