{% extends 'base/base_login.html' %}

{% block contenido %}

<form method="post">
    {% csrf_token %}

    <section class="form-login">

    <div class="in-flex">
    <h5>Iniciar Sección</h5>

    <div class="in-flex">

       <div>
           <input class="controls" type="text" name="username" value="" placeholder="Usuario">
       </div>

       <div>
           <input class="controls" type="password" name="password" value="" placeholder="Contraseña">
       </div>

       <div>
          <input class="buttons" type="submit" name="" value="Ingresar">
       </div>

    </div>

   </div>

  </section>
</form>



{% endblock %}




